<script type="text/javascript" src="whcookies.js"></script>
@font-face {
    font-family: 'SamsungModernBold';
    src: url('fonts/samsung-modern-bold/samsungimaginationmodernbold-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/samsung-modern-bold/samsungimaginationmodernbold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/samsung-modern-bold/samsungimaginationmodernbold-webfont.woff') format('woff'), /* Modern Browsers */
    url('fonts/samsung-modern-bold/samsungimaginationmodernbold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/samsung-modern-bold/samsungimaginationmodernbold-webfont.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungCondensedRegular';
    src: url('fonts/samsung-condensed-regular/samsungimaginationcondensedregular-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/samsung-condensed-regular/samsungimaginationcondensedregular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/samsung-condensed-regular/samsungimaginationcondensedregular-webfont.woff') format('woff'), /* Modern Browsers */
    url('fonts/samsung-condensed-regular/samsungimaginationcondensedregular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/samsung-condensed-regular/samsungimaginationcondensedregular-webfont.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SamsungIF_Bd';
  src: url('fonts/SamsungIF_Bd/SamsungIF_Bd.eot'); /* IE9 Compat Modes */
  src: url('fonts/SamsungIF_Bd/SamsungIF_Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/SamsungIF_Bd/SamsungIF_Bd.woff') format('woff'), /* Modern Browsers */
       url('fonts/SamsungIF_Bd/SamsungIF_Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SamsungIF_Bd/SamsungIF_Bd.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SamsungIF_Rg';
  src: url('fonts/SamsungIF_Rg/SamsungIF_Rg.eot'); /* IE9 Compat Modes */
  src: url('fonts/SamsungIF_Rg/SamsungIF_Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/SamsungIF_Rg/SamsungIF_Rg.woff') format('woff'), /* Modern Browsers */
       url('fonts/SamsungIF_Rg/SamsungIF_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SamsungIF_Rg/SamsungIF_Rg.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

body {
    background: #fff;
    font-family:Arial,Tahoma,sans-serif;
    font-size:12px;
    color:#000000;
    overflow-x: hidden;
}
.wrap {
    width:900px;
    margin:0 auto;
}
.top {
    height:79px;
    width:100%;
    border-bottom:1px solid #d4d4d4;
}
.top h1 {
    float:left;
    margin:23px 0 0 0;
}
.top h1 a {
    text-indent: -9999px;
    line-height: 0;
    float:left;
}
.top h1 a img {
    float:left;
}
.top .navigation {
    float:right;
    height: 79px;
}
.top .navigation .languages {
    margin:0;
    float:right;
}
.top .navigation .languages li {
    float:left;
    list-style: none;
    margin:6px 0 0 13px;
}
.top .navigation .languages li a {
    display: block;
    background: url(../images/flags.png) no-repeat 0 -15px;
    width:20px;
    height:12px;
    text-indent: -9999px;
    line-height: 0;
}
.top .navigation .languages li.en a {
    background: url(../images/flags.png) no-repeat -21px -15px;
}
.top .navigation .languages .active.en a,
.top .navigation .languages .en:hover a {
    background: url(../images/flags.png) no-repeat -21px 0;
}
.top .navigation .languages .active.pl a,
.top .navigation .languages .pl:hover a {
    background: url(../images/flags.png) no-repeat 0 0;
}
.top .navigation .menu {
    clear:both;
    float:right;
    margin:26px 0 0 0;
    position: relative;
}
.top .navigation .menu>li {
    font-family: 'SamsungIF_Bd',sans-serif;
    float:left;
    text-transform: uppercase;
    font-size:14px;
    margin-left:45px;
    list-style: none;
    position: relative;
}
.top .navigation .menu>li {
    height:34px;
    cursor: default;
}
.top .navigation .menu .hover {
    padding-bottom:16px;
}
.top .navigation .menu .hover>a,
.top .navigation .menu .current>a,
.top .navigation .menu .hover,
.top .navigation .menu .current {
    color:#087cbe;
}
.top .navigation .menu li:first-child {
    margin-left:0;
}
.top .navigation .menu li a {
    color:#000000;
    text-decoration: none;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}
.top .navigation .menu li a:hover {
    color:#087cbe;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}
.menu .submenu {
    position: absolute;
    top:28px;
    left:-50px;
    z-index:999;
    background: url(../images/arrow.png) no-repeat center top;
    padding:6px 0 0 0;
    margin:0;
    border-radius:7px;
    display: none;
}
.menu .hover .submenu {
    display: block;
}
.submenu li:first-child {
    border-radius:7px 7px 0 0;
    padding-top:20px !important;
}
.submenu li.last {
    border-radius:0 0 7px 7px;
    padding-bottom:20px !important;
}
.show-menu {
    display: block !important;
}
.top .navigation .submenu li {
    background:#000;
    font-family: Arial,Tahoma,sans-serif;
    font-size:12px;
    text-transform: none;
    white-space:nowrap;
    list-style: none;
    padding: 7px 25px;
}
.top .navigation .submenu li a {
    color:#fff;
}
.top .navigation .submenu li a:hover {
    color:#3399ff;
}
.top .navigation .submenu li:first-child {
    margin-top:0;
}
.banner {
    width:100%;
    height:400px;
    background:url(../images/banner-bg.png) repeat-x;
    position: relative;
    overflow: hidden;
}
.banner .wrap {
    position: relative;
    height:400px;
}

.ucase {text-transform:uppercase;}
.blue {color:#087CC4;}

.banner h2 {
    font-family: 'SamsungIF_Rg',sans-serif;
    font-size:42px;
    margin:0;
    color:#000;
    font-weight: normal;
    line-height: 49px;
    position: absolute;
    top: 305px;
    left:0;
    padding:5px 10px;
    background:#fff;
}
.banner h3 {
    font-family: 'SamsungIF_Rg',sans-serif;
    font-size: 16px;
    margin: 0;
    background: #0C4DA2;
    color: #FFF;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    top: 312px;
    left: 0;
    float: left;
    padding: 4px 15px;
}
.content .wrap .column {
    width:269px;
    position: relative;
    float:left;
    margin-left:46px;
    margin-top:40px;
    margin-bottom:45px;
    position: relative;
}
.col-wrap {
    clear:both;
    position: relative;
    height: 150px;
}
.col-wrap-1 {
    margin-bottom:50px;
}
.homepage.content .wrap .column {
    height:335px;
}
.content .wrap .column:first-child {
    margin-left:0;
}
.two-column .column a {
    color:#087cc4;
}
.column h4 {
    font-size:24px;
    font-family: 'SamsungIF_Rg',sans-serif;
    margin:0 0 15px 0;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
}
.column p {
    line-height: 18px;
    margin-bottom:20px;
    margin-top:0;
    text-align: justify;
}
.more {
    background: url(../images/line.gif) no-repeat left top;
    padding-top:12px;
    font-weight: bold;
    color:#3a7cbe;
    text-decoration: none;
}
.more:hover {
    text-decoration: underline;
}
.column .more {
    display: block;
    position: absolute;
    bottom:30px;
    left:0;
}
.col-wrap-1 .more {
    bottom:0;
}
.footer {
    background: #000;
    width:100%;
    overflow:hidden;
    clear:both;
    position:relative;
}
.footer .wrap {
    background:#000;
    position: relative;
    overflow: hidden;
}
.copyright {
    border-top: 1px solid #303030;
    clear: both;
    float: left;
    overflow: hidden;
    padding: 8px 0;
    width: 100%;
}
.copyright .social {
    float:right;
    margin:0;
    padding:0;
    display: none;
}
.copyright span {
    float:left;
    text-transform: uppercase;
    color:#fff;
    font-size:10px;
    margin-top:3px;
}
.footer-menu {
    float:left;
}
.footer-info {
    float:right;
}
.footer-info h4 {
	font-size:11px;
	color:#FFF;
	text-align:center;
}
.footer .col {
    float:left;
    padding-top:20px;
    margin-right:40px;
}
.footer .col ul {
    margin:0;
    padding:0;
}
.footer .col ul li {
    list-style: none;
    margin: 0 0 20px 0;
    color:#fff;
}
.footer .col ul li a {
    color:#fff;
    text-decoration: none;
}
.footer .col ul li ul li {
    font-size:10px;
    margin-bottom:12px;
}
.footer .col ul li ul {
    margin-top:21px;
}
.footer .col ul li ul li a {
    color:#69b6ef;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;

}
.footer .col ul li ul li a:hover {
    color:#89c6f4;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}
.footer .col-1 {
    width:100px;
}
.footer .col-2 {
    width:100px;
}
.footer .col-3 {
    width:100px;
}
.footer .col-4 {
    width:100px;
}
.footer .col ul li a:hover {
    color:#89c5f1;
    text-decoration: underline;
}
.footer-info {
    float:right;
    width:320px;
    line-height: 14px;
}
.footer-info p {
	clear: both;
	font-size: 9px;
	color: #999999;
	text-align: justify;
}
.footer-info img {
    float:left;
    margin:20px 0px;
	padding:0px 5px 0px 5px;
}
.footer-info img:first-child {
    float:left;
}
.product {
    bottom: 0;
    position: absolute;
    right: -29px;
}
#step-0 .product {
    right:-125px;
}
#step-0 {
    display: none;
}
.spot-1 {
    display: none;
}
.social li {
    float:left;
    list-style: none;
    margin-left:10px;
}
.social li a {
    text-indent: -9999px;
    line-height: 0;
}
.facebook a {
    display: block;
    width:20px;
    height:20px;
    background: url(../images/facebook.png) no-repeat;
}
.youtube a {
    display: block;
    width:20px;
    height:20px;
    background: url(../images/youtube.png) no-repeat;
}
.twitter a {
    display: block;
    width:20px;
    height:20px;
    background: url(../images/twitter.png) no-repeat;
}
.pathway{
    height:75px;
    width:100%;
    overflow: hidden;
    background:url(../images/pathway-bg.png)
}
.pathway ul {
    float:left;
    padding:0;
}
.pathway .claim {
    float:right;
    font-family: 'SamsungIF_Rg',sans-serif;
    font-size:18px;
    color:#0c4da2;
    text-align: right;
    line-height: 20px;
    margin-top:15px;
}
.pathway ul li {
    float:left;
    list-style: none;
    margin-right: 10px;
    color:#666666;
    text-transform: none;
}
.pathway ul li a {
    text-decoration: none;
    color:#087cbe;
}
.pathway ul li a:hover {
    text-decoration: underline;
}
.content > strong,
.two-column .column > strong,
.two-column > strong {
    color:#0c4da2;
    font-size:14px;
    font-weight: normal;
    line-height:20px;
    margin:0 0 15px 0;
}
.two-column > strong ,
.one-column .column strong {
    margin-bottom:30px;
    font-size:18px;
    line-height: 24px;
    text-align: justify
 }
 .two-column > strong {
    color:#0c4da2;
    font-size:14px;
    font-weight: normal;
    line-height:20px;
    margin:0 0 15px 0;
    text-align:left !important;
    display:block !important;
}
.hand {
    bottom: -324px;
    margin-top: 0;
    position: absolute;
    right: -115px;
}
.pathway ul li.last-child {
    font-size:30px;
    font-family: 'SamsungIF_Rg',sans-serif;
    color:#000;
    clear:left;
    margin-top:5px;
}
.content .two-column .column,
.content .one-column .column {
    margin-top:0;
}
.content .one-column .column {
    width:584px;
}
.two-column,
.one-column {
    float:left;
    width:584px;
    margin-left:47px;
    margin-top:40px;
    text-align: center;
}
.two-column>img,
.one-column>img {
    margin-bottom:15px;
}
.content .two-column .column,
.content .one-column .column {
    text-align: left;
}
.content .two-column img,
.content .one-column img {
    display: inline-block;
}
.noMargin {
    margin-left:0 !important;
}
.side-menu {
    padding:0;
    margin:0 0 50px 0;
    width:269px;
}
.side-menu li {
    list-style: none;
    font-size:14px;
    border-bottom:1px solid #d4d4d4;
    padding:5px 0;
}
.side-menu li a,
.side-menu li.back a:hover {
    background: url(../images/right-arrow.gif) no-repeat right center;
    text-decoration: none;
    color:#087cc4;
    padding:10px 0;
    line-height: 13px;
    display: block;
}
.side-menu li a:hover,
.side-menu li.current a {
    background: #000000;
    color:#fff;
    border-radius: 5px;
    padding-left:12px;
}
.side-menu li.back a {
    background: none;
}
.side-menu li.back a:hover {
    background: none;
    text-decoration: underline;
}
.side-menu li.back span {
    float: right;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.side-menu li.back a:hover span {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -moz-transition: all 0.3s ease 0s;
}
.two-col-image {
    position: absolute;
    right:50px;
    bottom:-265px;
}
.two-column .column ul,
.one-column .column ul {
    padding:0;
    margin:0;
}
.two-column .column ul li,
.one-column .column ul li {
    text-decoration: none !important;
    height:auto !important; 
    list-style: none !important;
    margin-left:10px !important;
    padding:0 !important;
    margin-bottom:20px !important;
}
.two-column .column ul li:before,
.one-column .column ul li:before {
    color: #0c4da2;
    content:'\25A0';
    display: block;
    font-size: 9px;
    left: -12px;
    max-height: 0;
    max-width: 0;
    position: relative;
    top: 0;
}



.offers-column {
    float:left;
    width:584px;
    margin-left:47px;
    margin-top:40px;
    text-align: center;
}

.offers-column .offers ul,
.offers-column .offers ul {
    padding:0;
    margin:0;
    border-bottom:1px solid #D4D4D4;
}

 .offers-column .offers .location-picker {border:none;}
.offers-column .offers ul li,
.offers-column .offers ul li {
    text-decoration: none;
    height:auto;
    list-style: none;
    padding: 10px 5px;
}
.offers-column {
	text-align:left;
}



.left-overflow {
    position: absolute;
    right:0;
}
.seperate {
    border-bottom:1px solid #d4d4d4;
    padding-bottom:10px;
}
span.small {
    font-size:10px;
}
.one-column .column h2 {
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
    color:#0c4da2;
    line-height: 25px;
    margin:10px 0;
}
.ref strong {
    margin-right:30px;
}
.one-column h3 {
    font-size:14px;
    text-transform: uppercase;
    color:#0c4da2;
    margin-top:30px;
    font-weight: normal;
}
.blue {
    color:#0c4da2;
    margin-top:20px !important;
}
.btn {
    width:149px;
    height: 25px;
    padding-top: 9px;
    border:1px solid #d4d4d4;
    font-size:12px;
    font-weight: bold;
    color:#3399ff;
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 3px 0px #e6e6e6;
    box-shadow: 0px 2px 3px 0px #e6e6e6;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%); /* W3C */

}
.btn:hover {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */

}
.apply {
    margin:20px auto;
}
.outside-left {
    position: absolute;
    right:0;
    bottom:0;
}


.jobs li:nth-child(odd) {background:rgb(225,225,225);}

.jobs a {
    color:#087cc4;
    text-decoration: none;
    width:420px;
    display:inline-block;
    vertical-align:middle;
}

.jobs a:hover {
    color:#000;
    font-weight: bold;
}
.jobs-select {
    border-bottom:1px solid #d4d4d4;
    padding-bottom:20px;
    margin-bottom:20px;
}
.jobs-select fieldset {
    border:none;
    padding:0;
}
.jobs-select .select-wrap {
    float:left;
    margin-left:41px;
}
.jobs-select .select-wrap:first-child {
    margin-left:0;
}
.jobs-select label {
    display: block;
    font-size:12px;
    color:#000000;
    margin-bottom:10px;
}
.jobs-select select {
    font-size:14px;
    height:34px;
    font-family: Arial,Tahoma,sans-serif;
    cursor: pointer;
}
.jobs-select #location,
.jobs-select #area,
.jobs-select #uniform-location,
.jobs-select #uniform-area,
.jobs-select .category {
    width:149px;
}
.jobs-select #category,
.jobs-select #uniform-category {
    width:194px;
}
#formMain {
    height:570px;
}
#formMain fieldset {
    padding:0;
    border:none;
}
#formMain .form-left {
    float:left;
    width:270px;
    margin-right:40px;
}
#formMain .form-right {
    float:left;
    width:270px;
}
#formMain label {
    display: block;
    font-size:11px;
    color:#7a7a7a;
    margin-bottom:5px;
}
#formMain input[type="text"] {
    font-size:14px;
    border:1px solid #dcdcdc;
    height:34px;
    width:238px;
    padding:0 15px;
    margin-bottom:15px;
    color:#000;
    -webkit-box-shadow: inset 0px 2px 5px 2px #f1f1f1;
    box-shadow: inset 0px 2px 5px 2px #f1f1f1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
}
#formMain input[type="file"] {
    width:268px;
    margin-bottom:15px;
    cursor: pointer;
}
#formMain input[type="text"]:focus,
.uploader.focus .filename {
    border:1px solid #00a9e0 !important;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
}
#formMain select {
    margin-bottom:15px;
    width:268px;
    height:34px;
    font-size:14px;
    cursor: pointer;
}
#formMain .form-info {
    clear: both;
    padding:15px 0 10px 0;
    margin-bottom:30px;
    text-align: center;
    border-bottom:1px solid #d4d4d4;
    font-size:10px;
    color:#999999;
}
#formMain input[type="submit"] {
    width:149px;
    height:39px;
    border:1px solid #d4d4d4;
    font-size:12px;
    font-weight: bold;
    color:#3399ff;
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin:0 auto;
    -webkit-box-shadow: 0px 2px 3px 0px #e6e6e6;
    box-shadow: 0px 2px 3px 0px #e6e6e6;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-8 */
}
#formMain input[type="submit"]:hover {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-8 */
}

#citypic {color:white;background:white;}
.input-wrap {
    position: relative;
}
.input-wrap .error {
    position: absolute;
    right:0;
    top:0;
    font-size:10px;
    color:red;
    display: none;
}
.contact-left {
    float:left;
    width:428px;
    margin-right:44px;
    overflow: hidden;
}
.contact-right {
    float:left;
    width:428px;
    overflow: hidden;
}
#map-wwa, #map-ldz {
    width:428px;
    height: 400px;
    margin:15px 0;
}
#map-pzn, #map-krk {
    width:428px;
    height: 400px;
    margin:15px 0;
}
.contact-left h2,
.contact-right h2 {
    font-size:18px;
    color:#0c4da2;
    font-weight: normal;
}

.address-row {
    width:428px;
    margin-bottom:40px;
    overflow: hidden;
}
.address-row .marker {
    float:left;
    width:34px;
    font-size:30px;
    font-family: 'SamsungIF_Rg',sans-serif;
    color:#0c4da2;
}
.address-info {
    float:left;
    width:383px;
    padding-left:10px;
    border-left:1px solid #d4d4d4;
    line-height: 18px;
}
.address-info strong {
    color:#0c4da2;
    display: block;
}
.address-row a {
    color:#087cc4;
    text-decoration: none;
}
.address-row a:hover {
    text-decoration: underline;
}
.location {
    display: block;
    overflow: hidden;
    font-style:italic;
}
.show-map {
    text-align: right;
    float:right;
    margin-right:15px;
    font-style:normal;
}
.contact-left .address-row:first-child .marker {
    padding-top:33px;
}
.address-first .marker {
    padding-top:35px;
}
.banner-wrap {
    background:url(../images/big_banner_1.jpg) no-repeat center 0px;
    height:400px;
    width:100%;
    position: relative;
}

#step-2 {
    display: none;
}
#step-1 .product {
    right: -225px;
    bottom: -3px;
}
#step-2 .product {
    right: -98px;
    top: 73px;
}
#step-3 .product {
    right: -125px;
}
#step-4 .product {
    right: 48px;
}
#step-5 .product {
    bottom: 14px;
    right: -6px;
}

#step-2 .product,
#step-2 h3,
#step-3 .product,
#step-3 h3,
#step-4 .product,
#step-4 h3,
#step-5 .product,
#step-5 h3 {
    opacity:0;
}
.curtain {
    width:100%;
    height:0;
    position: absolute;
    left:0;
    top:0;
    background: #fff;
}
.banner-nav {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 352px;
    bottom: 0;
    z-index: 990;
    float: left;
    height: 30px;
    width: 140px;
}
.content {
    overflow: hidden;
}
#nav, #spots {
    float:left;
    margin:0;
    padding:0;
}
#nav li,#spots li {
    float:left;
    margin:0 5px 0 0;
    padding:0;
    list-style: none;
}
#spots .spot {
    background: url(../images/spot.png) no-repeat 0 -13px;
    width:12px;
    height:12px;
    cursor: pointer;
    text-indent: -9999px;
    line-height: 0;
}
#spots .spot.active,
#spots .spot:hover {
    background: url(../images/spot.png) no-repeat 0 0;
}
#spots .spot.active {
    cursor: default;
}
#nav {
    margin-left:10px;
}
#nav .prev {
    background: url(../images/prev.png) no-repeat 0 -1px;
    width:6px;
    height:11px;
    cursor: pointer;
}
#nav .prev:hover {
    background-position: 0 -13px;
}
#nav .next {
    background: url(../images/next.png) no-repeat 0 0;
    width:6px;
    height:11px;
    cursor: pointer;
}
#nav .next:hover {
    background-position: 0 -12px;
}
#nav .pause {
    background: url(../images/play.png) no-repeat 0 0;
    width:9px;
    height:12px;
    cursor: pointer;
    text-indent: -9999px;
    line-height: 0;
}
#nav .pause.stoped {
    background: url(../images/play.png) no-repeat -10px 0;
}
.news,.oferta {
    text-align: left;
    margin-bottom:30px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom:15px;
    overflow: hidden;
    text-align: justify;
}
.news p, .oferta p,
.news strong, .oferta strong {
    line-height: 17px;
}
.news h2,.oferta h2 {
    color:#0c4da2;
    font-size:23px;
    font-family: Arial,sans-serif;
    font-weight: normal;
}
.news strong, .oferta strong  {
    margin-top: 12px;
    display: block;
}
span.date {
    color:#999999;
    display: block;
    text-align: left;
    font-size:11px;
    margin-bottom:15px;
}
.news-left,.news-right {
    float:left;
    width: 270px;
}
.news a, .oferta a {
    color:#00a9e0;
}
.news-left {
    margin-right:44px;
}
.oferta ul {
    padding:0;
    margin:0;
}
.oferta ul li {
    background: url(../images/note.gif) no-repeat left center;
    padding-left:30px;
    list-style: none;
    padding-top:10px;
    padding-bottom:10px;
}
.oferta li a {
    color:#0c4da2;
}

.news-full {
    text-align: left;
    margin-bottom:10px;
    padding-bottom:5px;
    overflow: hidden;
    text-align: justify;
}
.news-full p
.news-full strong {
    line-height: 17px;
}
.news-full h2 {
    color:#0c4da2;
    font-size:23px;
    font-family: Arial,sans-serif;
    font-weight: normal;
}
.news-full strong {
    margin-top: 12px;
    display: block;
}

.news-full-left {
    float:left;
    width: 800px;
}
.news-full a {
    color:#00a9e0;
}
.news-full-left {
    margin-right:44px;
}


.content.offer .wrap{
	overflow: hidden;
	background-color: #e3e3e3;
	width: 945px;
	border-right: 1px solid #eee;
	font-family: 'SamsungIF_Rg',sans-serif;
}
.content.offer .one-column {
	width: auto;
	margin-top:0;
	margin-left: 48px;
	
}
.content .one-column .column
{
	width: auto;
}
.offer .top-banner{
	background: url("../images/top_banner.png") 0 0 no-repeat transparent;
	width:897px;
	height:117px;
}

.offer .position{
	background-color: #b4dbf3;
	min-height:90px;
	line-height:90px;
	font-size: 32px;
	padding-left: 40px;
	width: auto;
}
.offer .position h2{
	padding:33px 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	font-family: 'SamsungIF_Bd',sans-serif;
	font-size:28px;
	
	line-height: 30px;
}

.offer .offer-text{
	background: #fff;
	padding: 0 20px 0 40px;
	padding-top: 15px;
}

.offer .offer-text .ref {
	overflow: hidden;
	margin: 0px 0;
}

.offer .ref .work-place{
	display: block;
	float:left;
	text-transform: uppercase;
	
}
.offer .ref .nr-ref{
	display: block;
	float:right;
	text-transform: uppercase;
	
	
}

 .offer .offer-text .section-header{
 	color:#000;
 	font-family:'SamsungIF_Bd', sans-serif;
 	font-size:16px;
 
 	padding-left: 12px;
}


.offer .column strong {
	font-size: 14px;
}

.offer .back a, .offer .back a:hover {
    text-decoration: none;
    color:#087cc4;
    padding:10px 0;
    line-height: 13px;
    display: block;
    font-size: 14px;
}

.offer .column ul li:before{
	content: none;
}


.offer .column ul li {
	text-decoration: none !important;
	height: auto !important;
	list-style: url('../images/bullet.png') !important;
	margin-left: 10px !important;
	padding: 0 !important;
	margin-bottom: 10px !important

}



.offer .column .agreement{
	margin-bottom:0;
	line-height: 13px;
}

.offer .column .offer-text .request-send{
	color:#333333;
	font-size:14px;
	text-align:center;
}
.offer .bottom-content{
	background: url('../images/bottom_img2.png') 0 0 no-repeat transparent;
	height: 190px;
	overflow: hidden;
	margin: 0;
}

.offer .btn {
	width: 93px;
	height: 34px;
	background: #034ea2;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 5px;
	color: #fff;
	line-height: 34px;
	padding-top: 0;
	font-family: 'SamsungIF_Bd', sans-serif;
	font-size: 13px;
}

#refNoDiv {clear:both;margin-left:0;}

.pagnav {text-align:right;color:#087CC4;margin:10px 0;}
.pagnav a {color:black;text-decoration:none;}
.pagnav a:hover {color:#087CC4}
.pagnav .NavPages {margin: 0 8px;}
.jobs .spanRefNo {float:right;width:125px;border-left:1px solid white;text-align:right;}
.heading {height:35px;border-bottom:1px solid #E1E1E1;padding: 0 5px;    background:url(../images/pathway-bg.png)}
.heading div {float:left;line-height:36px;}
.heading .refno {float:right;}
